<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>

<header th:replace="layout/layout :: header"></header>
<div class="container py-4">
    <div class="card bg-light">

        <div id="i18n_delete_receipt" th:text="#{text.customer.receipt.deleteOk}" style="display: none;"></div>

        <div class="card-header" th:text="${title} +': '+ ${customer.name}" ></div>
        <div class="card-body">

            <h4 class="card-title">
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary btn-xs" th:href="@{'/receipt/form/'+${customer.id}}"
                   th:text="#{text.customer.receipt.create }"></a>
            </h4>

            <img th:if="${#strings.length(customer.photo) > 0}" class="img-thumbnail rounded float-left"
                 style="max-width: 25%;"
                 th:src="@{'/uploads/'+ ${customer.photo}}" th:alt="${customer.photo}"/>

            <ul class="list-group">
                <li class="list-group-item" th:text="${customer.name}"></li>
                <li class="list-group-item" th:text="${customer.lastName}"></li>
                <li class="list-group-item" th:text="${customer.email}"></li>
                <li class="list-group-item" th:text="${customer.createAt}"></li>
            </ul>
            <div th:if="${#lists.isEmpty(customer.receipts)}" class="alert alert-info my-4"
                 th:text="#{text.customer.detail.no.receipts}"></div>
            <table th:if="${not #lists.isEmpty(customer.receipts)}" class="table table-bordered table-striped my-4">
                <thead class="thead-inverse">
                <tr>
                    <th th:utext="#{text.customer.receipt.folio}">Folio</th>
                    <th th:utext="#{text.customer.receipt.description}">Description</th>
                    <th th:utext="#{text.customer.receipt.date}">Date</th>
                    <th th:utext="#{text.customer.receipt.total}">Total</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')" th:utext="#{text.customer.receipt.detail}">See</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')" th:utext="#{text.customer.receipt.delete}">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="receipt: ${customer.receipts}">
                    <td th:text="${receipt.id}"></td>
                    <td th:text="${receipt.description}"></td>
                    <td th:text="${receipt.createAt}"></td>
                    <td th:text="${receipt.total}"></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-primary btn-sm" th:href="@{'/receipt/see/' + ${receipt.id}}"
                                                                 th:utext="#{text.customer.receipt.detail}"></a></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger btn-sm" th:href="@{'/receipt/delete/' + ${receipt.id}}"
                                                                 th:utext="#{text.customer.receipt.delete}"
                           onclick="return confirm(document.getElementById('i18n_delete_receipt').innerHTML);"></a></td>
                </tr>
                </tbody>

            </table>

        </div>
    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>